body {
    font-family: 'Poppins', sans-serif;
    background-color: #a7e0d9;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #2f86d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
button:hover {
    background-color: #2f86d6;
}

.container-contatos1 {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 70px;
}